#error_block {
  color: red;
	margin-bottom: 10px;
}

#fetch_time_block {
	margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  th, td {
    border: 1px solid black;
    padding: 10px;
  }
}